[submodule "vendor/plugins/i18n_label"]
	path = vendor/plugins/i18n_label
	url = git://github.com/iain/i18n_label.git
[submodule "vendor/plugins/authorization"]
	path = vendor/plugins/authorization
	url = git://github.com/DocSavage/rails-authorization-plugin.git