<% content_for :head do %>
<style type="text/css">

div#dialog {
	font-size: 14px;
	line-height: 18px;
	width: 430px;
	padding: 3em;
	margin: 2em 4em;
	border: 1px solid #ccc;
	border-right-color: #999;
	border-bottom-color: #999;
	background-color: #EEEEEE;
}

table.agile td {
    text-align: left;
    padding: 0.2em;
}
</style>
<% end %>

<h1>Welcome 【歡 迎】 - Kowloon Demo </h1>
<hr class="plain" />
<div id="dialog" >
<h2 align="center">Agile Manifesto</h3><br /><br />
<table class="agile">
<tr>
  <td>• Individuals and interactions</td>
  <td></td>
  <td>over processes and tools</td>
</tr>
  <td>• Working software</td>
  <td></td>
  <td>over comprehensive documentation</td>
</tr>
<tr>
  <td>• Customer collaboration</td>
  <td></td>
  <td>over contract negotiation</td>
</tr>
<tr>
  <td>• Responding to change</td>
  <td></td>
  <td>over following a plan</td>
</tr>
</table>
</div>
<hr class="plain" />
<center><a href="http://github.com/warrenli/" target="_blank">Github</a></center>
<hr class="plain" />
