<% title t("change_email.show.page_title") %>
<hr class="plain"/>
<p><%= t("change_email.show.page_description_1", :new_email=>"#{@new_email}") %></p>
<p><%= t("change_email.show.page_description_2") %></p>
<hr class="plain"/>
